<head>
</head>

<body>
  <h1>Add User</h1>
  <div>
    <form action="/add_user/new" method='post'>
      <input type="text" name="new_user_name" placeholder = "Username">
      <input type="text" name="new_password" placeholder = "Password">
      <input type='submit' value='Save User'>
    </form>
  </div>
</body>