<head>
</head>

<body>
  <h1>Add New Space</h1>
  <div>
    <form action="/add_space/new" method='post'>
      <input type="text" name="new_space_name" placeholder = "Space Name">
      <input type="text" name="new_space_description" placeholder = "Description">
      <input type="text" name="new_price" placeholder = "Price per night">
      <input type='submit' value='Save Space'>
    </form>
  </div>
</body>