<head>
</head>

<body>
  <h1>Add New Booking</h1>
  <div>
    <form action="/add_space/new" method='post'>
      <input type="text" name="new_start_date" placeholder = "Start date">
      <input type="text" name="new_end_date" placeholder = "End date">
      <input type='submit' value='Save Booking'>
    </form>
  </div>
</body>